.p5canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -8rem;

  p {
    display: none;
  }

  canvas {
    position: absolute;
    bottom: -5rem;
    left: 0;
    width: 100% !important;
    height: auto !important;
    letter-spacing: 0;
  }
}
